body {
	text-align: center;
	color: #000;
}

.top-description {
	margin-top: 100px;
}

td {
	border: 2px solid #000;
	width: 100px;
	height: 100px;
	font-size:50px;
	cursor: pointer;
}

table {
	margin: 50px auto;
}

table tbody tr:first-child td {
	border-top: 0;
}

table tbody tr:last-child td {
	border-bottom: 0;
}

table tbody tr td:first-child {
	border-left: 0;
}

table tbody tr td:last-child {
	border-right: 0;
}

.resultMessage {
	color: rgb(155,100,230);
	background-color: rgba(200,155,40,0.8);
	font-size: 32px;
	font-weight: bold;
	width: 300px;
	height: 100px;
	position: relative;
	left: 39%;
	bottom: 250px;
	padding-top: 34px;
	display: none;
}